$color_dark  = #313443
$color_blue = #8BC7C1
$color_darker = darken($color_dark, 10%)
$color_light = #F7F6F6
$color_grey = #B5B5B5
$color_grey_darker = darken($color_grey, 40%)
$color_red = #D44141

$sidemenu_color = $color_dark
$sidemenu_profile_color = $color_blue

