aside.side-menu
	.btn-open
	.profile
		img.pic(src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/13015297_1117617011593040_4657852091686850395_n.jpg?oh=e952890b9b65785dc3cadd92c3646c8a&oe=57F95124&__gda__=1478708371_6ab59128d716a94888fce8c6cb9a4aa1")
		h2.title Isaque
		h3.desc Front-end developer
	ul.list
		li.dashboard 
			span dashboard
		li.sales
			span sales
		li.users
			span costumers
		li.partners
			span partners
		li.stats
			span stats
		li.settings
			span settings