.form
	.group 
		margin-bottom 15px
		
	input, textarea
		width 100%
		border none
		color $color_grey_darker
		margin-top 5px
		font-size 13px
		border-radius 5px
		border-bottom 3px solid #E0DFDF
		padding-left 10px
		transition (.7s)
		
	textarea 
		height 100px
		
	input 
		height 40px
		
	label
		uppercase()
		color #fff
		
	.button
		transition(1s)
		uppercase()
		border none
		background-color #fff
		color $color_grey_darker
		padding 13px 17px
		border-radius 5px
		float right
				
		&:disabled
			background-color $button_disabled_color
			
		&:hover
			opacity .7